body{
    background-color: saddlebrown;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: darkgreen;
    margin: 0;
    text-align: center;
}

header{
    background-color: #ccc;    
}

footer{
    background-color: black;
    padding: 1em;
}

footer p{
    color: #fff;
    text-align: center;
}

#fullname{
    color: maroon;
}

#welcomeMessage{
    background-color: darkslategray;
    border: solid 1em chocolate;
    border-radius: .5em;
    color: white;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    margin: 1.5em auto;
    padding: 3em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}